
.banner1{
    height: 15rem;
    padding: 4rem;
    margin: 3rem;
    border-radius: 2rem;
    background-color: rgb(253, 196, 149);
}
.banner2{
    height: 15rem;
    padding: 4rem;
    margin: 3rem;
    border-radius: 2rem;
    background-color: rgb(207, 199, 191);
}
.full-banner{
    width: 8rem;
    height: 3rem;
    justify-content: center;
    font-size: 1rem;
    padding-top: 0.7rem;
    margin: 3rem;
    background-color: transparent;
    border-radius: 3rem;
}
@media screen and (max-width: 760px){
    .banner1, .banner2{
        height: 20rem;
        padding-top: 7rem;
        margin: 1rem;
        border-radius: 1rem;
        font-size: 0.65rem;
    }
}
