*{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.main{
    width: 500px;
    height: 800px;
    background-color: mediumturquoise;
    border-radius: 30px;
    display: block;
    padding: 60px;
    box-shadow: 5px 5px  darkcyan,
                10px 10px  orange,
                15px 15px green,
                20px 20px palevioletred;
}
/*main안의 요소들*/
h1{
    padding-top: 60px;
    text-align: center;
}

#email, #name, #pw, #pw2, #region, #join{
    width: 350px;
    height: 40px;
}

.phone1{
    width: 75px;
    height: 40px;
}

.phone2, .phone3{
    width: 95px;
    height: 40px;
}

.num, .end{
    text-align: right;
}
.gender{
    text-align: center;
}
