*{
    box-sizing: border-box;   
}
body{
    margin: 0;
    font-family: 'Diphylleia', monospace;
}
.flex{
    display: flex;
}
.header{
    padding-top: 70px;
    background-color: black;
}
.header-img{
    width: 100%;
    height: 300px;
    line-height: 470px;
    color: rgb(0, 121, 151);
    background-image: url(./study.jpg);
    background-size: 550px 300px;
    font-size: 40px;
    text-align: center;
}
.header_bar{
    height: 70px;
    color: white;
    justify-content: space-between;
}
.header_logo{
    width: 70px;
    font-size: 60px;
    text-align: center;
    line-height: 50px;
    margin: 10px;

}
.header_menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 20px;
}
.hidden_menu{
    text-align: end;
    display: none;
}
.hidden_menu ul{
    margin: 0;
    padding-left: 0;
}
.menu-bar{
    width: 70px;
    height: 70px;
    font-size: 30px;
    background-color: transparent;
    color: white;
}
.hidden_menu ul li{
    list-style: none;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background-color: gray;
    

}

/* main */
.main{
    padding: 64px 16px;
}
.main_header{
    flex-direction: column;
    align-items: center;
    padding: 64px 16px;
}
.main_header1{
    font-size: 30px;
    color: coral;
}
.main_header2{
    padding: 60px 0;
    font-size: 72px;
    font-weight: 700;
}
.main_content{
    width: 100%;
    margin-top: 30px;
    height: 700px;
}
.about-card{
    width: 500px;
    border-radius: 30px;
    margin: 40px;
    padding: 7%;
    background-color: cadetblue;
    align-items: end;
}
a{
    text-decoration: none;
}
.about-icon{
    width: 200px;
    height: 200px;
}
.about-title{
    font-size: 30px;
    font-weight: 500;
    color: rgb(246, 90, 168);
    text-align: center;
}
.about-text{
    color: white;
    text-align: center;
}
.about-card:hover{
    width: 600px;
    height: 800px;
}

@media screen and (max-width: 768px) {
    .header_menu{
        display: none;
    }
    .about-icon, .about-text{
        display: none;
    }
    .hidden_menu{
        display: block;
    }
    .hidden_menu:hover ul li{
        display: block;
    }
}
@media screen and (max-width: 1200px) {
    .about-icon{
        display: none;
    }
}
.hidden_menu li{
    display: none;
}